
// Fonts
/*
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap/scss/bootstrap";

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

body {
    margin-bottom: 55px;
}

/**************      Backdrop       **************/
.backdrop {
    background-color: $gray-dark;
}

/**************      Header       **************/
.header {
    padding: 15px;
}
.header-tagline {
    color: $gray-lighter;
    font-weight: 100;
}
.header-logo {
    height: 75px;
}

/*************      Footer       **************/
.navbar {
    background-color: $gray-dark;
}
